openapi: 3.1.0
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: API Key (sk-lh-...) or OIDC JWT
      scheme: bearer
      type: http
info:
  title: LobeHub API
  description: LobeHub platform REST API. Generated from `packages/openapi` routes
    — do not edit openapi.yml by hand; run `bun generate:openapi` instead.
  version: 1.0.0
security:
  - bearerAuth: []
servers:
  - description: LobeHub Cloud
    url: https://app.lobehub.com
paths:
  /api/v1/health:
    get:
      operationId: getApiV1Health
      summary: Health check
      tags:
        - health
      responses:
        "200":
          description: Successful response (schema pending)
  /api/v1/agent-groups:
    get:
      operationId: getApiV1AgentGroups
      summary: Get agent group list
      tags:
        - agent-groups
      responses:
        "200":
          description: Successful response (schema pending)
    post:
      operationId: postApiV1AgentGroups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                sort:
                  anyOf:
                    - type: number
                    - type: "null"
              required:
                - name
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agent-groups
  /api/v1/agent-groups/{id}:
    get:
      operationId: getApiV1AgentGroupsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agent-groups
    patch:
      operationId: patchApiV1AgentGroupsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  anyOf:
                    - type: string
                      minLength: 1
                    - type: "null"
                sort:
                  anyOf:
                    - type: number
                    - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agent-groups
    delete:
      operationId: deleteApiV1AgentGroupsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agent-groups
  /api/v1/agents:
    get:
      operationId: getApiV1Agents
      parameters:
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agents
    post:
      operationId: postApiV1Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  anyOf:
                    - type: string
                    - type: "null"
                chatConfig:
                  anyOf:
                    - type: object
                      properties:
                        disableContextCaching:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        displayMode:
                          anyOf:
                            - type: string
                              enum:
                                - chat
                                - docs
                            - type: "null"
                        enableCompressHistory:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableGraphMode:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableHistoryCount:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableMaxTokens:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableReasoning:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableReasoningEffort:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        graph:
                          anyOf:
                            - type: object
                              properties:
                                description:
                                  type: string
                                fields:
                                  type: object
                                  propertyNames:
                                    type: string
                                  additionalProperties:
                                    type: object
                                    properties:
                                      desc:
                                        type: string
                                        minLength: 1
                                      schema:
                                        type: object
                                        propertyNames:
                                          type: string
                                        additionalProperties: {}
                                    required:
                                      - desc
                                      - schema
                                maxInstructionCount:
                                  type: integer
                                  exclusiveMinimum: 0
                                  maximum: 9007199254740991
                                name:
                                  type: string
                                  minLength: 1
                                nodes:
                                  type: object
                                  propertyNames:
                                    type: string
                                  additionalProperties:
                                    oneOf:
                                      - type: object
                                        properties:
                                          allowedToolApiNames:
                                            type: array
                                            items:
                                              type: string
                                              minLength: 1
                                          maxAgentSteps:
                                            type: integer
                                            exclusiveMinimum: 0
                                            maximum: 9007199254740991
                                          type:
                                            type: string
                                            const: agent
                                        required:
                                          - type
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: llm
                                        required:
                                          - type
                                terminal:
                                  type: string
                                  minLength: 1
                                edges:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      condition:
                                        type: object
                                        propertyNames:
                                          type: string
                                        additionalProperties: {}
                                      from:
                                        type: string
                                      input:
                                        type: object
                                        properties:
                                          fields:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                desc:
                                                  type: string
                                                  minLength: 1
                                                field:
                                                  type: string
                                                  minLength: 1
                                                required:
                                                  type: boolean
                                                from:
                                                  type: string
                                                  minLength: 1
                                              required:
                                                - field
                                                - from
                                      output:
                                        type: object
                                        properties:
                                          fields:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                desc:
                                                  type: string
                                                  minLength: 1
                                                field:
                                                  type: string
                                                  minLength: 1
                                                required:
                                                  type: boolean
                                              required:
                                                - field
                                          instruction:
                                            type: string
                                            minLength: 1
                                      instruction:
                                        type: string
                                        minLength: 1
                                      maxTraversals:
                                        type: integer
                                        minimum: 0
                                        maximum: 9007199254740991
                                      to:
                                        type: string
                                    required:
                                      - from
                                      - instruction
                                      - to
                              required:
                                - fields
                                - name
                                - nodes
                                - terminal
                                - edges
                            - type: "null"
                        historyCount:
                          anyOf:
                            - type: number
                            - type: "null"
                        reasoningBudgetToken:
                          anyOf:
                            - type: number
                            - type: "null"
                        reasoningEffort:
                          anyOf:
                            - type: string
                              enum:
                                - low
                                - medium
                                - high
                            - type: "null"
                        searchFCModel:
                          anyOf:
                            - type: string
                            - type: "null"
                        searchMode:
                          anyOf:
                            - type: string
                              enum:
                                - disabled
                                - enabled
                            - type: "null"
                        useModelBuiltinSearch:
                          anyOf:
                            - type: boolean
                            - type: "null"
                    - type: "null"
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                model:
                  anyOf:
                    - type: string
                    - type: "null"
                params:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                provider:
                  anyOf:
                    - type: string
                    - type: "null"
                systemRole:
                  anyOf:
                    - type: string
                    - type: "null"
                title:
                  type: string
                  minLength: 1
              required:
                - title
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agents
  /api/v1/agents/{id}:
    get:
      operationId: getApiV1AgentsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agents
    patch:
      operationId: patchApiV1AgentsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  anyOf:
                    - type: string
                    - type: "null"
                chatConfig:
                  anyOf:
                    - type: object
                      properties:
                        disableContextCaching:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        displayMode:
                          anyOf:
                            - type: string
                              enum:
                                - chat
                                - docs
                            - type: "null"
                        enableCompressHistory:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableGraphMode:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableHistoryCount:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableMaxTokens:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableReasoning:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        enableReasoningEffort:
                          anyOf:
                            - type: boolean
                            - type: "null"
                        graph:
                          anyOf:
                            - type: object
                              properties:
                                description:
                                  type: string
                                fields:
                                  type: object
                                  propertyNames:
                                    type: string
                                  additionalProperties:
                                    type: object
                                    properties:
                                      desc:
                                        type: string
                                        minLength: 1
                                      schema:
                                        type: object
                                        propertyNames:
                                          type: string
                                        additionalProperties: {}
                                    required:
                                      - desc
                                      - schema
                                maxInstructionCount:
                                  type: integer
                                  exclusiveMinimum: 0
                                  maximum: 9007199254740991
                                name:
                                  type: string
                                  minLength: 1
                                nodes:
                                  type: object
                                  propertyNames:
                                    type: string
                                  additionalProperties:
                                    oneOf:
                                      - type: object
                                        properties:
                                          allowedToolApiNames:
                                            type: array
                                            items:
                                              type: string
                                              minLength: 1
                                          maxAgentSteps:
                                            type: integer
                                            exclusiveMinimum: 0
                                            maximum: 9007199254740991
                                          type:
                                            type: string
                                            const: agent
                                        required:
                                          - type
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: llm
                                        required:
                                          - type
                                terminal:
                                  type: string
                                  minLength: 1
                                edges:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      condition:
                                        type: object
                                        propertyNames:
                                          type: string
                                        additionalProperties: {}
                                      from:
                                        type: string
                                      input:
                                        type: object
                                        properties:
                                          fields:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                desc:
                                                  type: string
                                                  minLength: 1
                                                field:
                                                  type: string
                                                  minLength: 1
                                                required:
                                                  type: boolean
                                                from:
                                                  type: string
                                                  minLength: 1
                                              required:
                                                - field
                                                - from
                                      output:
                                        type: object
                                        properties:
                                          fields:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                desc:
                                                  type: string
                                                  minLength: 1
                                                field:
                                                  type: string
                                                  minLength: 1
                                                required:
                                                  type: boolean
                                              required:
                                                - field
                                          instruction:
                                            type: string
                                            minLength: 1
                                      instruction:
                                        type: string
                                        minLength: 1
                                      maxTraversals:
                                        type: integer
                                        minimum: 0
                                        maximum: 9007199254740991
                                      to:
                                        type: string
                                    required:
                                      - from
                                      - instruction
                                      - to
                              required:
                                - fields
                                - name
                                - nodes
                                - terminal
                                - edges
                            - type: "null"
                        historyCount:
                          anyOf:
                            - type: number
                            - type: "null"
                        reasoningBudgetToken:
                          anyOf:
                            - type: number
                            - type: "null"
                        reasoningEffort:
                          anyOf:
                            - type: string
                              enum:
                                - low
                                - medium
                                - high
                            - type: "null"
                        searchFCModel:
                          anyOf:
                            - type: string
                            - type: "null"
                        searchMode:
                          anyOf:
                            - type: string
                              enum:
                                - disabled
                                - enabled
                            - type: "null"
                        useModelBuiltinSearch:
                          anyOf:
                            - type: boolean
                            - type: "null"
                    - type: "null"
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                model:
                  anyOf:
                    - type: string
                    - type: "null"
                params:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                provider:
                  anyOf:
                    - type: string
                    - type: "null"
                systemRole:
                  anyOf:
                    - type: string
                    - type: "null"
                title:
                  type: string
                  minLength: 1
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agents
    delete:
      operationId: deleteApiV1AgentsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - agents
  /api/v1/files:
    get:
      operationId: getApiV1Files
      parameters:
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
        - in: query
          name: fileType
          schema:
            type: string
        - in: query
          name: knowledgeBaseId
          schema:
            type: string
        - in: query
          name: queryAll
          schema:
            type: string
        - in: query
          name: updatedAtEnd
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: updatedAtStart
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: userId
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
    post:
      operationId: postApiV1Files
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                agentId:
                  type: string
                directory:
                  type: string
                file:
                  format: binary
                  type: string
                knowledgeBaseId:
                  type: string
                sessionId:
                  type: string
                skipCheckFileType:
                  type: boolean
                skipExist:
                  type: boolean
              required:
                - file
              type: object
        required: true
      summary: Upload a file and return the corresponding file record
      tags:
        - files
      responses:
        "200":
          description: Successful response (schema pending)
  /api/v1/files/{id}:
    get:
      operationId: getApiV1FilesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
    patch:
      operationId: patchApiV1FilesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                knowledgeBaseId:
                  anyOf:
                    - type: string
                    - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
    delete:
      operationId: deleteApiV1FilesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
  /api/v1/files/{id}/url:
    get:
      operationId: getApiV1FilesByIdUrl
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
        - in: query
          name: expiresIn
          schema:
            anyOf:
              - type: string
              - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
  /api/v1/files/{id}/parses:
    post:
      operationId: postApiV1FilesByIdParses
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
        - in: query
          name: skipExist
          schema:
            anyOf:
              - type: string
              - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
  /api/v1/files/{id}/chunks:
    post:
      operationId: postApiV1FilesByIdChunks
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                autoEmbedding:
                  type: boolean
                skipExist:
                  type: boolean
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
    get:
      operationId: getApiV1FilesByIdChunks
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
  /api/v1/files/batches:
    post:
      operationId: postApiV1FilesBatches
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                agentId:
                  type: string
                directory:
                  type: string
                files:
                  items:
                    format: binary
                    type: string
                  type: array
                knowledgeBaseId:
                  type: string
                sessionId:
                  type: string
                skipCheckFileType:
                  type: boolean
                skipExist:
                  type: boolean
              required:
                - files
              type: object
        required: true
      summary: Batch file upload
      tags:
        - files
      responses:
        "200":
          description: Successful response (schema pending)
  /api/v1/files/queries:
    post:
      operationId: postApiV1FilesQueries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fileIds:
                  minItems: 1
                  type: array
                  items:
                    type: string
                    minLength: 1
              required:
                - fileIds
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - files
  /api/v1/knowledge-bases:
    get:
      operationId: getApiV1KnowledgeBases
      parameters:
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
    post:
      operationId: postApiV1KnowledgeBases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: uri
                description:
                  type: string
                  maxLength: 1000
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
              required:
                - name
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
  /api/v1/knowledge-bases/{id}:
    get:
      operationId: getApiV1KnowledgeBasesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
    patch:
      operationId: patchApiV1KnowledgeBasesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: uri
                description:
                  type: string
                  maxLength: 1000
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
    delete:
      operationId: deleteApiV1KnowledgeBasesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
  /api/v1/knowledge-bases/{id}/files:
    get:
      operationId: getApiV1KnowledgeBasesByIdFiles
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
        - in: query
          name: fileType
          schema:
            anyOf:
              - type: string
              - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
  /api/v1/knowledge-bases/{id}/files/batch:
    post:
      operationId: postApiV1KnowledgeBasesByIdFilesBatch
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fileIds:
                  minItems: 1
                  type: array
                  items:
                    type: string
                    minLength: 1
              required:
                - fileIds
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
    delete:
      operationId: deleteApiV1KnowledgeBasesByIdFilesBatch
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fileIds:
                  minItems: 1
                  type: array
                  items:
                    type: string
                    minLength: 1
              required:
                - fileIds
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
  /api/v1/knowledge-bases/{id}/files/move:
    post:
      operationId: postApiV1KnowledgeBasesByIdFilesMove
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fileIds:
                  minItems: 1
                  type: array
                  items:
                    type: string
                    minLength: 1
                targetKnowledgeBaseId:
                  type: string
                  minLength: 1
              required:
                - fileIds
                - targetKnowledgeBaseId
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - knowledge-bases
  /api/v1/message-translations/{messageId}:
    post:
      operationId: postApiV1MessageTranslationsByMessageId
      parameters:
        - in: path
          name: messageId
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                model:
                  anyOf:
                    - type: string
                    - type: "null"
                provider:
                  anyOf:
                    - type: string
                    - type: "null"
                to:
                  type: string
                  minLength: 1
              required:
                - to
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - message-translations
    get:
      operationId: getApiV1MessageTranslationsByMessageId
      parameters:
        - in: path
          name: messageId
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - message-translations
    patch:
      operationId: patchApiV1MessageTranslationsByMessageId
      parameters:
        - in: path
          name: messageId
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                model:
                  anyOf:
                    - type: string
                    - type: "null"
                provider:
                  anyOf:
                    - type: string
                    - type: "null"
                to:
                  type: string
                  minLength: 1
                content:
                  type: string
              required:
                - to
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - message-translations
    delete:
      operationId: deleteApiV1MessageTranslationsByMessageId
      parameters:
        - in: path
          name: messageId
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - message-translations
  /api/v1/messages/count:
    get:
      operationId: getApiV1MessagesCount
      parameters:
        - in: query
          name: topicIds
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: userId
          schema:
            anyOf:
              - type: string
              - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - messages
  /api/v1/messages:
    get:
      operationId: getApiV1Messages
      parameters:
        - in: query
          name: topicId
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: userId
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: role
          schema:
            anyOf:
              - type: string
                enum:
                  - user
                  - system
                  - assistant
                  - tool
              - type: "null"
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - messages
    post:
      operationId: postApiV1Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  minLength: 1
                role:
                  type: string
                  enum:
                    - user
                    - system
                    - assistant
                    - tool
                model:
                  anyOf:
                    - type: string
                    - type: "null"
                provider:
                  anyOf:
                    - type: string
                    - type: "null"
                topicId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                threadId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                parentId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                quotaId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                agentId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                clientId:
                  anyOf:
                    - type: string
                    - type: "null"
                metadata:
                  anyOf:
                    - {}
                    - type: "null"
                reasoning:
                  anyOf:
                    - {}
                    - type: "null"
                search:
                  anyOf:
                    - {}
                    - type: "null"
                tools:
                  anyOf:
                    - {}
                    - type: "null"
                traceId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                observationId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                files:
                  anyOf:
                    - type: array
                      items:
                        type: string
                    - type: "null"
                favorite:
                  default: false
                  anyOf:
                    - type: boolean
                    - type: "null"
              required:
                - content
                - role
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - messages
    delete:
      operationId: deleteApiV1Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  minItems: 1
                  type: array
                  items:
                    type: string
                    minLength: 1
              required:
                - messageIds
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - messages
  /api/v1/messages/{id}:
    get:
      operationId: getApiV1MessagesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - messages
    delete:
      operationId: deleteApiV1MessagesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - messages
  /api/v1/messages/replies:
    post:
      operationId: postApiV1MessagesReplies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  minLength: 1
                role:
                  type: string
                  const: user
                model:
                  anyOf:
                    - type: string
                    - type: "null"
                provider:
                  anyOf:
                    - type: string
                    - type: "null"
                topicId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                threadId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                parentId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                quotaId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                agentId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                clientId:
                  anyOf:
                    - type: string
                    - type: "null"
                metadata:
                  anyOf:
                    - {}
                    - type: "null"
                reasoning:
                  anyOf:
                    - {}
                    - type: "null"
                search:
                  anyOf:
                    - {}
                    - type: "null"
                tools:
                  anyOf:
                    - {}
                    - type: "null"
                traceId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                observationId:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - type: "null"
                files:
                  anyOf:
                    - type: array
                      items:
                        type: string
                    - type: "null"
                favorite:
                  default: false
                  anyOf:
                    - type: boolean
                    - type: "null"
              required:
                - content
                - role
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - messages
  /api/v1/models:
    get:
      operationId: getApiV1Models
      parameters:
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
        - in: query
          name: enabled
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: provider
          schema:
            anyOf:
              - type: string
                minLength: 1
                maxLength: 64
              - type: "null"
        - in: query
          name: type
          schema:
            anyOf:
              - type: string
                enum:
                  - chat
                  - embedding
                  - tts
                  - asr
                  - image
                  - text2video
                  - text2music
                  - realtime
                  - stt
              - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - models
    post:
      operationId: postApiV1Models
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                abilities:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                config:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                contextWindowTokens:
                  anyOf:
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                    - type: "null"
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                displayName:
                  type: string
                  minLength: 1
                enabled:
                  anyOf:
                    - type: boolean
                    - type: "null"
                organization:
                  anyOf:
                    - type: string
                    - type: "null"
                parameters:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                pricing:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                releasedAt:
                  anyOf:
                    - type: string
                    - type: "null"
                sort:
                  anyOf:
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                    - type: "null"
                source:
                  anyOf:
                    - type: string
                      enum:
                        - remote
                        - custom
                        - builtin
                    - type: "null"
                type:
                  anyOf:
                    - type: string
                      enum:
                        - chat
                        - embedding
                        - tts
                        - asr
                        - image
                        - text2video
                        - text2music
                        - realtime
                        - stt
                    - type: "null"
                id:
                  type: string
                  minLength: 1
                  maxLength: 150
                providerId:
                  type: string
                  minLength: 1
                  maxLength: 64
              required:
                - displayName
                - id
                - providerId
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - models
  /api/v1/models/{providerId}/{modelId}:
    get:
      operationId: getApiV1ModelsByProviderIdByModelId
      parameters:
        - in: path
          name: modelId
          schema:
            type: string
            minLength: 1
            maxLength: 150
          required: true
        - in: path
          name: providerId
          schema:
            type: string
            minLength: 1
            maxLength: 64
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - models
    patch:
      operationId: patchApiV1ModelsByProviderIdByModelId
      parameters:
        - in: path
          name: modelId
          schema:
            type: string
            minLength: 1
            maxLength: 150
          required: true
        - in: path
          name: providerId
          schema:
            type: string
            minLength: 1
            maxLength: 64
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                abilities:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                config:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                contextWindowTokens:
                  anyOf:
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                    - type: "null"
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                displayName:
                  type: string
                  minLength: 1
                enabled:
                  anyOf:
                    - type: boolean
                    - type: "null"
                organization:
                  anyOf:
                    - type: string
                    - type: "null"
                parameters:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                pricing:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                releasedAt:
                  anyOf:
                    - type: string
                    - type: "null"
                sort:
                  anyOf:
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                    - type: "null"
                source:
                  anyOf:
                    - type: string
                      enum:
                        - remote
                        - custom
                        - builtin
                    - type: "null"
                type:
                  anyOf:
                    - type: string
                      enum:
                        - chat
                        - embedding
                        - tts
                        - asr
                        - image
                        - text2video
                        - text2music
                        - realtime
                        - stt
                    - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - models
  /api/v1/permissions:
    get:
      operationId: getApiV1Permissions
      parameters:
        - in: query
          name: active
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: category
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: "null"
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - permissions
    post:
      operationId: postApiV1Permissions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                  minLength: 1
                code:
                  type: string
                  minLength: 1
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                isActive:
                  default: true
                  anyOf:
                    - type: boolean
                    - type: "null"
                name:
                  type: string
                  minLength: 1
              required:
                - category
                - code
                - name
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - permissions
  /api/v1/permissions/{id}:
    get:
      operationId: getApiV1PermissionsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 16
            maxLength: 16
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - permissions
    patch:
      operationId: patchApiV1PermissionsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 16
            maxLength: 16
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                  minLength: 1
                code:
                  type: string
                  minLength: 1
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                isActive:
                  default: true
                  anyOf:
                    - type: boolean
                    - type: "null"
                name:
                  type: string
                  minLength: 1
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - permissions
    delete:
      operationId: deleteApiV1PermissionsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 16
            maxLength: 16
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - permissions
  /api/v1/providers:
    get:
      operationId: getApiV1Providers
      parameters:
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
        - in: query
          name: enabled
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - providers
    post:
      operationId: postApiV1Providers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                checkModel:
                  anyOf:
                    - type: string
                    - type: "null"
                config:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties: {}
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                enabled:
                  type: boolean
                fetchOnClient:
                  anyOf:
                    - type: boolean
                    - type: "null"
                keyVaults:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties:
                    type: string
                logo:
                  anyOf:
                    - type: string
                    - type: "null"
                name:
                  anyOf:
                    - type: string
                      minLength: 1
                    - type: "null"
                settings:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties: {}
                sort:
                  anyOf:
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                    - type: "null"
                source:
                  type: string
                  enum:
                    - builtin
                    - custom
                id:
                  type: string
                  minLength: 1
              required:
                - id
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - providers
  /api/v1/providers/{id}:
    get:
      operationId: getApiV1ProvidersById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            maxLength: 64
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - providers
    patch:
      operationId: patchApiV1ProvidersById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            maxLength: 64
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                checkModel:
                  anyOf:
                    - type: string
                    - type: "null"
                config:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties: {}
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                enabled:
                  type: boolean
                fetchOnClient:
                  anyOf:
                    - type: boolean
                    - type: "null"
                keyVaults:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties:
                        type: string
                    - type: "null"
                logo:
                  anyOf:
                    - type: string
                    - type: "null"
                name:
                  anyOf:
                    - type: string
                      minLength: 1
                    - type: "null"
                settings:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties: {}
                sort:
                  anyOf:
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                    - type: "null"
                source:
                  type: string
                  enum:
                    - builtin
                    - custom
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - providers
    delete:
      operationId: deleteApiV1ProvidersById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            maxLength: 64
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - providers
  /api/v1/responses:
    post:
      operationId: postApiV1Responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  anyOf:
                    - type: string
                    - type: array
                      items:
                        oneOf:
                          - type: object
                            properties:
                              content:
                                anyOf:
                                  - type: string
                                  - type: array
                                    items:
                                      oneOf:
                                        - type: object
                                          properties:
                                            text:
                                              type: string
                                            type:
                                              type: string
                                              const: input_text
                                          required:
                                            - text
                                            - type
                                        - type: object
                                          properties:
                                            annotations:
                                              type: array
                                              items: {}
                                            logprobs:
                                              type: array
                                              items: {}
                                            text:
                                              type: string
                                            type:
                                              type: string
                                              const: output_text
                                          required:
                                            - text
                                            - type
                                        - type: object
                                          properties:
                                            detail:
                                              type: string
                                              enum:
                                                - auto
                                                - low
                                                - high
                                            image_url:
                                              type: string
                                            type:
                                              type: string
                                              const: input_image
                                          required:
                                            - type
                                        - type: object
                                          properties:
                                            file_data:
                                              type: string
                                            file_id:
                                              type: string
                                            filename:
                                              type: string
                                            type:
                                              type: string
                                              const: input_file
                                          required:
                                            - type
                              id:
                                type: string
                              role:
                                type: string
                                enum:
                                  - user
                                  - assistant
                                  - system
                                  - developer
                              status:
                                type: string
                                enum:
                                  - completed
                                  - in_progress
                              type:
                                type: string
                                const: message
                            required:
                              - content
                              - role
                              - type
                            additionalProperties: {}
                          - type: object
                            properties:
                              arguments:
                                type: string
                              call_id:
                                type: string
                              id:
                                type: string
                              name:
                                type: string
                              status:
                                type: string
                                enum:
                                  - completed
                                  - in_progress
                              type:
                                type: string
                                const: function_call
                            required:
                              - arguments
                              - name
                              - type
                          - type: object
                            properties:
                              call_id:
                                type: string
                              id:
                                type: string
                              output:
                                type: string
                              status:
                                type: string
                                enum:
                                  - completed
                                  - in_progress
                                  - incomplete
                              type:
                                type: string
                                const: function_call_output
                            required:
                              - call_id
                              - output
                              - type
                instructions:
                  anyOf:
                    - type: string
                    - type: "null"
                max_output_tokens:
                  anyOf:
                    - type: integer
                      exclusiveMinimum: 0
                      maximum: 9007199254740991
                    - type: "null"
                metadata:
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties:
                        type: string
                    - type: "null"
                model:
                  type: string
                parallel_tool_calls:
                  anyOf:
                    - type: boolean
                    - type: "null"
                previous_response_id:
                  anyOf:
                    - type: string
                    - type: "null"
                reasoning:
                  anyOf:
                    - type: object
                      properties:
                        effort:
                          type: string
                          enum:
                            - low
                            - medium
                            - high
                    - type: "null"
                stream:
                  anyOf:
                    - type: boolean
                    - type: "null"
                temperature:
                  anyOf:
                    - type: number
                      minimum: 0
                      maximum: 2
                    - type: "null"
                tool_choice:
                  anyOf:
                    - anyOf:
                        - type: string
                          enum:
                            - auto
                            - required
                            - none
                        - type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                              const: function
                          required:
                            - name
                            - type
                    - type: "null"
                tools:
                  anyOf:
                    - type: array
                      items:
                        anyOf:
                          - type: object
                            properties:
                              description:
                                type: string
                              name:
                                type: string
                              parameters:
                                type: object
                                propertyNames:
                                  type: string
                                additionalProperties: {}
                              strict:
                                type: boolean
                              type:
                                type: string
                                const: function
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              type:
                                type: string
                                pattern: ^lobe-.*
                            required:
                              - type
                    - type: "null"
                top_p:
                  anyOf:
                    - type: number
                      minimum: 0
                      maximum: 1
                    - type: "null"
                truncation:
                  anyOf:
                    - type: object
                      properties:
                        type:
                          default: disabled
                          type: string
                          enum:
                            - auto
                            - disabled
                    - type: "null"
                user:
                  anyOf:
                    - type: string
                    - type: "null"
              required:
                - input
                - model
              additionalProperties: {}
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - responses
  /api/v1/roles:
    get:
      operationId: getApiV1Roles
      parameters:
        - in: query
          name: active
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: system
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - roles
    post:
      operationId: postApiV1Roles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                displayName:
                  type: string
                  minLength: 1
                isActive:
                  default: true
                  anyOf:
                    - type: boolean
                    - type: "null"
                isSystem:
                  default: false
                  anyOf:
                    - type: boolean
                    - type: "null"
                name:
                  type: string
                  minLength: 1
              required:
                - displayName
                - name
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - roles
  /api/v1/roles/{id}:
    get:
      operationId: getApiV1RolesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - roles
    patch:
      operationId: patchApiV1RolesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                displayName:
                  type: string
                  minLength: 1
                isActive:
                  default: true
                  anyOf:
                    - type: boolean
                    - type: "null"
                isSystem:
                  default: false
                  anyOf:
                    - type: boolean
                    - type: "null"
                name:
                  type: string
                  minLength: 1
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - roles
    delete:
      operationId: deleteApiV1RolesById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - roles
  /api/v1/roles/{id}/permissions:
    get:
      operationId: getApiV1RolesByIdPermissions
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - roles
    patch:
      operationId: patchApiV1RolesByIdPermissions
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant:
                  anyOf:
                    - type: array
                      items:
                        type: string
                        minLength: 1
                    - type: "null"
                revoke:
                  anyOf:
                    - type: array
                      items:
                        type: string
                        minLength: 1
                    - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - roles
    delete:
      operationId: deleteApiV1RolesByIdPermissions
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - roles
  /api/v1/topics:
    get:
      operationId: getApiV1Topics
      parameters:
        - in: query
          name: agentId
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: excludeTriggers
          schema:
            type: array
            items:
              type: string
        - in: query
          name: groupId
          schema:
            anyOf:
              - type: string
              - type: "null"
        - in: query
          name: includeTriggers
          schema:
            type: array
            items:
              type: string
        - in: query
          name: isInbox
          schema:
            type: string
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - topics
    post:
      operationId: postApiV1Topics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  anyOf:
                    - type: string
                    - type: "null"
                clientId:
                  type: string
                favorite:
                  type: boolean
                groupId:
                  anyOf:
                    - type: string
                    - type: "null"
                title:
                  type: string
                  minLength: 1
              required:
                - title
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - topics
  /api/v1/topics/{id}:
    get:
      operationId: getApiV1TopicsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - topics
    patch:
      operationId: patchApiV1TopicsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                favorite:
                  type: boolean
                historySummary:
                  type: string
                metadata:
                  type: object
                  properties:
                    model:
                      type: string
                    provider:
                      type: string
                    boundDeviceId:
                      type: string
                    workingDirectory:
                      type: string
                title:
                  type: string
                  minLength: 1
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - topics
    delete:
      operationId: deleteApiV1TopicsById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - topics
  /api/v1/users/me:
    get:
      operationId: getApiV1UsersMe
      summary: Get current authenticated user
      tags:
        - users
      responses:
        "200":
          description: Successful response (schema pending)
  /api/v1/users:
    get:
      operationId: getApiV1Users
      parameters:
        - in: query
          name: keyword
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: string
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - users
    post:
      operationId: postApiV1Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  anyOf:
                    - type: string
                    - type: "null"
                email:
                  anyOf:
                    - type: string
                      format: email
                      pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: "null"
                firstName:
                  anyOf:
                    - type: string
                    - type: "null"
                fullName:
                  anyOf:
                    - type: string
                    - type: "null"
                id:
                  anyOf:
                    - type: string
                    - type: "null"
                lastName:
                  anyOf:
                    - type: string
                    - type: "null"
                phone:
                  anyOf:
                    - type: string
                    - type: "null"
                roleIds:
                  anyOf:
                    - type: array
                      items:
                        type: string
                        minLength: 1
                    - type: "null"
                username:
                  anyOf:
                    - type: string
                      minLength: 1
                    - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - users
  /api/v1/users/{id}:
    get:
      operationId: getApiV1UsersById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - users
    patch:
      operationId: patchApiV1UsersById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  anyOf:
                    - type: string
                    - type: "null"
                email:
                  anyOf:
                    - type: string
                      format: email
                      pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: "null"
                firstName:
                  anyOf:
                    - type: string
                    - type: "null"
                fullName:
                  anyOf:
                    - type: string
                    - type: "null"
                isOnboarded:
                  anyOf:
                    - type: boolean
                    - type: "null"
                lastName:
                  anyOf:
                    - type: string
                    - type: "null"
                phone:
                  anyOf:
                    - type: string
                    - type: "null"
                preference:
                  anyOf:
                    - {}
                    - type: "null"
                roleIds:
                  anyOf:
                    - type: array
                      items:
                        type: string
                        minLength: 1
                    - type: "null"
                username:
                  anyOf:
                    - type: string
                      minLength: 1
                    - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - users
    delete:
      operationId: deleteApiV1UsersById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - users
  /api/v1/users/{id}/roles:
    get:
      operationId: getApiV1UsersByIdRoles
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - users
    patch:
      operationId: patchApiV1UsersByIdRoles
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                addRoles:
                  anyOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          expiresAt:
                            anyOf:
                              - type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              - type: "null"
                          roleId:
                            type: string
                            minLength: 1
                        required:
                          - roleId
                    - type: "null"
                removeRoles:
                  anyOf:
                    - type: array
                      items:
                        type: string
                        minLength: 1
                    - type: "null"
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - users
    delete:
      operationId: deleteApiV1UsersByIdRoles
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: Successful response (schema pending)
      tags:
        - users
