lockfile=false
resolution-mode=highest
dedupe-peer-dependents=true

ignore-workspace-root-check=true
enable-pre-post-scripts=true

# 国内镜像（淘宝 npmmirror）
registry=https://registry.npmmirror.com/
# pnpm 二进制下载镜像
disturl=https://npmmirror.com/dist
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips


public-hoist-pattern[]=*@umijs/lint*
public-hoist-pattern[]=*changelog*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*remark*
public-hoist-pattern[]=*semantic-release*
public-hoist-pattern[]=*stylelint*

public-hoist-pattern[]=@auth/core
public-hoist-pattern[]=pdfjs-dist
public-hoist-pattern[]=@napi-rs/canvas-*
